:root {
    --text-color: #efefef;
    --text-color-icon: #0096FF;

    --background: #000000;
    --bg-card-hover: rgba(255, 255, 255, 0.1);

    --example-bg: rgba(37, 36, 36, 0.6);
    --example-background: rgba(37, 36, 36, 0.6);

    --tab-active-bg: linear-gradient(135deg, #1c62d3 0%, #8b5cf6 100%);

    --brightness: 100%;
    --brightness-muted: 70%;
    --box-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    --box-shadow-8: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);

    --transition-medium: 0.3s ease;
}
