/* borrowed and modified from https://krye.io/ */

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    font-size: 80%;
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.projects {
    display: inline-flex;
    width: auto;
}

.example {
	font-size: 80%;
	box-shadow: var(--box-shadow-2);
    padding: 16pt;
    margin: 1em 2em;
	transition: box-shadow 0.125s ease-in-out;
	border-radius: 4pt;
    background-color: var(--example-bg);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    align-items: top;

    /* fixes flickering */
    -webkit-transform-style: preserve-3d;
}

.example.full {
    grid-template-columns: 3fr;
}

.example > * {
	margin-top: 0;
	margin-bottom: 0;
}

.example:hover {
	box-shadow: var(--box-shadow-8);
	transition: box-shadow 0.125s ease-in-out;
	z-index: 1;
}

.example p.description {
    font-style: italic;
}

.example:first-of-type {
    margin-top: 2em;
}

.example:last-of-type {
    margin-bottom: 2em;
}

.example > h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

.example > .text {
    align-self: flex-start;
}

.example > .left {
    grid-column: 1;
}

.example > .right {
    grid-column: 2;
}

.example > h1 > * {
    flex: 0 1 auto;
}

.example > h1 > .links {
    margin-left: auto;
}

.example > h1 > .links a {
    margin-left: 0.2em;
}

.example > h1 > .links a:last-of-type:not(:only-of-type) {
    padding-right: 0;
}

.example > .image {
	display: grid;
	justify-content: center;
	align-items: normal;
    grid-row: span 2;
}

.example > .text {
    display: flex;
    flex-direction: column;
    grid-row: 2;
}

.example > .text img {
    width: 135%;
    margin-top: 1em;
}

.example img {
    width: 250px;
    margin-left: auto;
    filter: brightness(var(--brightness));
}

@media screen and (max-width: 768px) {
	.example {
        grid-template-columns: 1fr;
        margin: 1em 0em;
    }

    .example > h1 > .links {
        margin: auto;
    }

    .example > h1 > .links a {
        padding: 0.2em;
    }

	.example > .image {
        display: none;
	}

    .example > .text img {
        display: none;
	}
}
