/* borrowed and modified from https://krye.io/ */

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    font-size: 80%;
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.projects {
    display: inline-flex;
    width: auto;
}

.example {
	font-size: 80%;
	box-shadow: var(--box-shadow-2);
    padding: 16pt;
    margin: 1em 2em;
	transition: box-shadow 0.125s ease-in-out;
	border-radius: 4pt;
    background-color: var(--example-bg);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    align-items: top;

    /* fixes flickering */
    -webkit-transform-style: preserve-3d;
}

.example.full {
    grid-template-columns: 3fr;
}

.example > * {
	margin-top: 0;
	margin-bottom: 0;
}

.example:hover {
	box-shadow: var(--box-shadow-8);
	transition: box-shadow 0.125s ease-in-out;
	z-index: 1;
}

.example p.description {
    font-style: italic;
}

.example:first-of-type {
    margin-top: 2em;
}

.example:last-of-type {
    margin-bottom: 2em;
}

.example > h1 {
}

.example > .text {
    align-self: flex-start;
}

.example > .left {
    grid-column: 1;
}

.example > .right {
    grid-column: 2;
}





.example > .image {
	display: grid;
	justify-content: center;
	align-items: normal;
    grid-row: span 2;
}

.example > .text {
    display: flex;
    flex-direction: column;
    grid-row: 2;
}

.example > .text img {
    width: 135%;
    margin-top: 1em;
}

.example img {
    width: 250px;
    margin-left: auto;
    filter: brightness(var(--brightness));
}

.example > .social-links-container {
    display: flex;
    justify-content: center; /* Centered horizontally */
    margin-top: 1em;
    grid-column: 1 / -1; /* Span all grid columns */
    align-self: end; /* Align to the bottom of its grid cell */
}

.example > .social-links-container .links a {
    margin: 0 0.5em; /* Spacing between links */
}

.example > .social-links-container .links a i {
    font-size: 1.5em; /* Consistent icon size */
}

/* Remove this obsolete rule as margin is handled above */
.example > .social-links-container .links a:last-of-type:not(:only-of-type) {
    padding-right: 0;
}

@media screen and (max-width: 768px) {
	.example {
        grid-template-columns: 1fr;
        margin: 1em 0em;
    }



	.example > .image {
        grid-column: 1 / -1;
	}

    .example > .text {
        grid-column: 1 / -1;
    }
    
    .example img {
        max-width: 100%;
        height: auto;
    }
}
