/* general */

html {
    font-size: 1.1rem;
    line-height: 1.6;
}

body {
    width: 100%;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body, html, p {
}

body {
    background: var(--background);
    color: var(--text-color);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}

a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

@media (max-width: 499px) {
    .navigation {
        padding: 0px;
        text-align: center;
    }

    .navigation > li {
        display: block;
        padding: 10px;
    }

    .navigation > li~li {
        border-style: none;
    }
}

@media (min-width: 500px) {
    .navigation {
        padding: 0;
    }

    .navigation > li {
        display: inline-block;
    }

    .navigation > li~li {
        border-left: 1px solid var(--text-color);
    }

    .navigation > li > a {
        display: block;
        text-align: center;
        margin: 0px 5px 0px 10px;
    }
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main" "footer";
    min-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

/* components */

.about {
    text-align: center;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

.avatar {
    border-radius: 50%;
    width: 10em;
    border: 3px solid white;
    margin: 25px;
    filter: brightness(var(--brightness));
}

.text {
    font-size: 1.25rem;
}

/* github */

#gh-activity li::first-letter {
    text-transform: uppercase;
}

#gh-activity-container {
    display: none;
}

#gh-activity-container.visible {
    display: block;
}
